body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.navbar-custom {
    background-color: #2a67ad;
}

/* Search Bar */
.dropdown-button-custom {
    color: #FFFEF4;
    background-color: #8FBC8F;
}

/* Side Bar */
.list-group-item.active {
    background-color: #2a67ad;
}
